In [1]:
#Import packages
import pandas as pd
from pandas import DataFrame
import numpy as np
import re

In [2]:
#Define where's the CSV file
filePath = 'C:/Users/LuisRicardoFerraz/Documents/personal/projects/book-similarity/test/tutorial/tutorial/spiders/newDataSetClean.csv'

In [3]:
#Import CSV file to a DataFrame
df = pd.read_csv(filePath)

In [24]:
i = 0
for column in df:
    for record in df[column]:
        if (str(record) == 'nan'):
            i = i+1
    print(column+' '+str(i*100/df.shape[0]))
    i = 0

isbn-10 0.0
isbn-13 0.0
titulo 0.0
autor 0.0
editora 0.0
ano 0.0
paginas 0.0
idioma 0.0
leram 0.0
lendo 0.0
queremLer 0.0
relendo 0.0
abandonos 0.0
resenhas 0.0
nota 0.0
favoritos 0.0
desejados 0.0
trocam 0.0
avaliaram 0.0
cincoEstrelas 0.0
quatroEstrelas 0.0
tresEstrelas 0.0
duasEstrelas 0.0
umaEstrela 0.0
avaliacoesHomens 0.0
avaliacoesMulheres 0.0
sinopse 0.0

In [5]:
df = df.drop(['subtitulo','generos','tags'],1)

In [6]:
df.shape

(11302, 28)

In [23]:
df.to_csv('C:/Users/LuisRicardoFerraz/Documents/personal/projects/book-similarity/test/tutorial/tutorial/spiders/dataSetNewSteps.csv')

In [39]:
filePath = 'C:/Users/LuisRicardoFerraz/Documents/personal/projects/book-similarity/test/tutorial/tutorial/spiders/dataSetNewSteps.csv'

In [3]:
df = pd.read_csv(filePath)

In [7]:
df = df.drop(['Unnamed: 0'],1)

In [27]:
df.dtypes

isbn-10                object
isbn-13                 int64
titulo                 object
autor                  object
editora                object
ano                     int64
paginas                 int64
idioma                 object
leram                   int64
lendo                   int64
queremLer               int64
relendo                 int64
abandonos               int64
resenhas                int64
nota                  float64
favoritos               int64
desejados               int64
trocam                  int64
avaliaram               int64
cincoEstrelas         float64
quatroEstrelas        float64
tresEstrelas          float64
duasEstrelas          float64
umaEstrela            float64
avaliacoesHomens      float64
avaliacoesMulheres    float64
sinopse                object
dtype: object

In [40]:
df.to_csv(filePath)

In [9]:
df = df.dropna(axis=0,how='any',subset=['sinopse'],inplace=False)

In [10]:
df.shape

(11299, 27)

In [14]:
for synopsis in df['sinopse']:
    if len(str(synopsis)) <= 30:
        print(synopsis)

Volume 1 das Obras completas
Coleção Contos para jovens.
participação no governo Lula
Ciência da Informação

In [13]:
synopsisLength = []
for synopsis in df['sinopse']:
    synopsisLength.append(len(str(synopsis)))
print(len(synopsisLength))

11292

In [11]:
df = df[df['sinopse'].map(len) > 20]

In [21]:
def extrairEstatisticas(synopsisLength):
    synopsisLength = np.array(synopsisLength)

    # Média
    print("Média: "+str(np.mean(synopsisLength)))

    # Mediana
    print("Mediana: "+str(np.median(synopsisLength)))

    # Máximo e Mínimo
    print("Máximo: "+str(np.max(synopsisLength)))
    print("Mínimo: "+str(np.min(synopsisLength)))

    # Intervalo médio
    print("Intervalo médio: "+str((np.max(synopsisLength)-np.min(synopsisLength))/2))

    # Variância e desvio-padrão
    print("Variância: "+str(np.var(synopsisLength,ddof=1)))
    print("desvio-padrão: "+str(np.std(synopsisLength,ddof=1)))

extrairEstatisticas(synopsisLength)

Média: 914.43668083599
Mediana: 795.0
Máximo: 8374
Mínimo: 21
Intervalo médio: 4176.5
Variância: 305112.18685030536
desvio-padrão: 552.3696107230243

In [20]:
# Considerar a correção do arredondamento já no Crawler, e depois remover os dados que permanecerem incorretos.

array = [value for value in df['cincoEstrelas']+df['quatroEstrelas']+df['tresEstrelas']+df['duasEstrelas']+df['umaEstrela'] > 1 if value == True]
print(len(array)*100/df.shape[0])
sort = [value for value in df['avaliacoesHomens'] + df['avaliacoesMulheres'] > 1 if value == True]
print(len(sort)*100/df.shape[0])
list = [value for value in df['avaliaram'] > df['leram'] if value == True]
print(len(list)*100/df.shape[0])
sample = [value for value in df['favoritos'] > df['leram'] if value == True]
print(len(sample)*100/df.shape[0])
bypass = [value for value in df['relendo'] > df['leram'] if value == True]
print(len(bypass)*100/df.shape[0])

19.182301876225146
0.7187529170167086
0.0
0.0
0.0

In [17]:
df = df[df['avaliaram'] <= df['leram']]

In [18]:
df = df[df['favoritos'] <= df['leram']]

In [19]:
df = df[df['relendo'] <= df['leram']]

In [13]:
"""
def transformarEditora(atual,correto):
    if correto in atual:
        return correto
    else:
        return atual
"""

'\ndef transformarEditora(atual,correto):\n    if correto in atual:\n        return correto\n    else:\n        return atual\n'

In [14]:
"""
editorasOficiais = ['Intrínseca','Harlequin','Sextante','Arqueiro','Galera Record','Leya','Rocco','Valentina','Planeta','Verus','HarperCollins','Universo','Gift Box']
listaEditoras = df['editora']
listaEditoras = [editora.lower() for editora in listaEditoras]
editorasOficiais = [editora.lower() for editora in editorasOficiais]
print(transformarEditora(listaEditoras[17],editorasOficiais[1]))
"""

"\neditorasOficiais = ['Intrínseca','Harlequin','Sextante','Arqueiro','Galera Record','Leya','Rocco','Valentina','Planeta','Verus','HarperCollins','Universo','Gift Box']\nlistaEditoras = df['editora']\nlistaEditoras = [editora.lower() for editora in listaEditoras]\neditorasOficiais = [editora.lower() for editora in editorasOficiais]\nprint(transformarEditora(listaEditoras[17],editorasOficiais[1]))\n"

In [15]:
"""
editorasOficiais = ['Intrínseca','Harlequin','Sextante','Arqueiro','Record','Leya','Rocco','Valentina','Planeta','Verus','HarperCollins','Universo','Gift Box']
listaEditoras = df['editora']

listaEditoras = [editora.lower() for editora in listaEditoras]
editorasOficiais = [editora.lower() for editora in editorasOficiais]

i = 0
j = 0

while i < len(editorasOficiais):
    j = 0
    while j < len(listaEditoras):
        listaEditoras[j] = transformarEditora(listaEditoras[j],editorasOficiais[i])
        j = j+1
    i = i+1

for editora in listaEditoras:
    if editora not in editorasOficiais:
        print(editora)
"""

"\neditorasOficiais = ['Intrínseca','Harlequin','Sextante','Arqueiro','Record','Leya','Rocco','Valentina','Planeta','Verus','HarperCollins','Universo','Gift Box']\nlistaEditoras = df['editora']\n\nlistaEditoras = [editora.lower() for editora in listaEditoras]\neditorasOficiais = [editora.lower() for editora in editorasOficiais]\n\ni = 0\nj = 0\n\nwhile i < len(editorasOficiais):\n    j = 0\n    while j < len(listaEditoras):\n        listaEditoras[j] = transformarEditora(listaEditoras[j],editorasOficiais[i])\n        j = j+1\n    i = i+1\n\nfor editora in listaEditoras:\n    if editora not in editorasOficiais:\n        print(editora)\n"

In [22]:
df['sinopse'] = [sinopse.lower() for sinopse in df['sinopse']]
df['sinopse']

0        uma jovem garota brasileira resolve se aventur...
1        "resgate" foi a primeira palavra que ouvi quan...
2        cage: substantivo: cela, prisão.  verbo: prend...
3        feyre has returned to the spring court, determ...
4        quebrado. irritado. abandonado. era assim que ...
5        uma distopia atual, próxima dos dias de hoje, ...
6        as histórias de contos de fadas que as criança...
7        maitê passos é uma garota linda, de dezessete ...
9        existe uma forma de leveza e de graça no simpl...
11       um thriller sobre a luta secreta entre o bem e...
12       as crônicas de gelo e fogo. jon snow, daenerys...
13       duke é um homem simples com uma vida modesta, ...
14       o oitavo volume de wild cards injeta ainda mai...
15       diana prince, mais conhecida como mulher-marav...
16       na são paulo do início do século xx, a jovem g...
17       antes de se tornar a mulher-maravilha, ela era...
18       podemos até não viver no paraíso, mas passamos...
19       henry cavanaugh, duque de torquil, anseia por ...
20       viviane acaba de perder o pai. com a mãe em de...
21       nas primeiras horas do dia 16 de dezembro de 1...
22       escrito pelo biógrafo oficial de churchill, o ...
23       lizzie bennet é uma jovem estudante de comunic...
25       ainda recém-casado, o conde tristan deixou sua...
26       autoras best-seller do usa today.  melodia do ...
27       sterling é uma cidadezinha comum do interior, ...
28       o passado de mirabelle está envolto em segredo...
29       uma receita apaixonante!  pegue uma dose de ma...
32       na pequena ilha de thisby, poucos cavaleiros s...
33       livro em formato de bolso e com ilustrações de...
35       união de sentimentos – anna cleary cate summer...
                               ...
11268    é 1969 no lower east side de nova york e os ru...
11269    este livro é a história dos inúmeros e imprová...
11271    encontrando gobi é o relato milagroso de dion ...
11272    quando os pais de cameron post morrem em um ac...
11273    altares ruíram e templos se perderam nas areia...
11274    um unicórnio, um menino e o vento, juntos em u...
11275    de revoltas populares a golpes militares, de g...
11276    newt, tina, queenie e jacob, os amados heróis ...
11277    cora é escrava em uma plantação de algodão da ...
11278    você conhece o tasty: o popular canal de culin...
11279    em tempos difíceis, há uma urgência de entende...
11280    neste livro, o premiado autor ilan brenman apr...
11281    o conto de beren e lúthien foi, ou tornou-se, ...
11282    nova edição do guinness world records, o mais ...
11284    guerra, amor e vida se unem neste drama profun...
11285    bella, uma linda cadelinha vira-lata, adotou l...
11286    antes do holocausto e da segunda guerra mundia...
11287    você já sabe tudo sobre as bff girls? não? ent...
11288    não adianta se enganar: o ano só começa mesmo ...
11289    "quando adam st. james colocou os olhos na doc...
11290    'um grande barulho ecoou ao redor do mundo, tr...
11291    ramon amorim cresceu na pequena cidade de ando...
11292    neste livro, o conhecido escritor ilan brenman...
11293    o dr. oscar serrallach é um especialista neoze...
11295    a vida de rhys cole sempre girou em torno do h...
11296    nunca era um grito de vitória, mas sim de dor....
11297    sawyer quer ter a própria vida. finn quer esqu...
11298    o amor que o finn e eu compartilhamos é do tip...
11299    james bradley sabia o que imprensa era capaz d...
11301    neste livro você será envolvido por temas emoc...
Name: sinopse, Length: 10713, dtype: object